* {
    margin: 0;
    padding: 0;
}

#fundo {
    background-image: url('Imagens/espaco.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#astronauta {
    background-image: url('Imagens/astronauta.png');
    background-size: 100% 100%;
    height: 30vw;
    width: 30vw;
}

article {
    
}



