@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}



header > h1 {
    background-color: lightgray;
}

article {
    background-color: aliceblue;
    width: 200px;
    height: 200px;
    margin: 80px;
    text-align: justify;
    padding: 10px;
}

article > h1 {
    text-align: center;
    padding: 10px;
    background-color: beige;
    margin: -10px -10px 10px;
}

p {
    text-indent: 30px;
}
