@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #B3BF99, #818A6F);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #191d0ecc ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #617339;
    text-align: center;
    text-shadow: 1px 1px 2px #2b331acc;
}

h2 {
    color: #363F20;
}

p {
    text-align: justify;
}